@{
    ViewBag.Title = "Home Page";
}

<style>
    
    .jumbotron{
        margin-top: 10%;
        margin-bottom: 4%;
    }

    </style>

<div class="jumbotron">
    <h1>lOCATION DE VOITURES</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ajouter une voiture</h2>
        <p>
           Ajouter une voiture en encodant la marque, le modele, la plaque d'immatriculation.
        </p>
        <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ajouter une voiture &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ajouter des clients</h2>
        <p>Ajouter des clients en encodant leurs informations personnelles</p>
        <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ajouter un client &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ajouter une location</h2>
        <p>Ajouter une location en encodant le numero des voitures disponibles</p>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301867">Ajouter une reservation &raquo;</a></p>
    </div>
</div>